<div class="list_question">
  <h4> <%= question.question %> </h4>
  <% question.answers.each do |answer|  %>
    <div>
      <input type="radio" name="questions[<%= question.id %>]" value="<%= answer.id %>">
        <%= answer.content %>
      </input>
    </div>
  <% end %>
</div>
