
<div class='survey_list'>
  <h1> List of available surveys</h1>


 <%= erb :"/survey/new" %>
  <% @surveys.each do |survey| %>
    <%= erb :"survey/_list_new", locals:{ survey: survey} %>
  <% end %>
</div>
