<% if @error %>
  <h3><%= @error %><h3>
<% end %>


<form class="create_new_survey" method="post" action="/survey/new" >
  <input type="text" name="name" placeholder="survey title" >
  <input type="submit" value="create new survey" >
</form>
