
<%= erb :'/partials/_new_survey' %>
<div class='survey_list'>
  <h2> List of available surveys</h2>

  <% @surveys.each do |survey| %>
  <article>
    <a href= "/survey/<%= survey.id %>" > <%= survey.name %> </a>
      <!-- if user.id == survey.user_id -->
  <a href="/survey/<%= survey.id %>"></a>
  <% end %>
  </article>

</div>
