<div id='survey'>
  <% if @error %>
    <h3><%= @error %><h3>
  <% end %>

  <h3>Create a new survey!</h3>
  <form id='survey-form' class="create_new_survey" method="post" action="/survey" >
    <input type="text" name="name" placeholder="survey title" >
    <input id='create-survey' type="submit" value="create new survey" >
  </form>
</div>
