
<% if @error %>
  <h3><%= @error %><h3>
<% end %>

<h3>Create a new survey!</h3>
<form class="create_new_survey" method="post" action="/survey" >
  <input type="text" name="name" placeholder="survey title" >
  <input type="submit" value="create new survey" >
</form>
