<div class="container">
  <h1>Create your account!</h1>
  <%= @error %>
   <form  action="/signup" method="post">
    <input class="signup" name="user[username]" placeholder="Username" />
    <input class="signup" name="user[email]" placeholder="Email" />
    <input class="signup" type="password" name="user[password_hash]" placeholder="Password" />
    <input class="signup" type="password" name="password_hash_verify" placeholder="Verify Password" />
    <input class="signup" type="submit" value="Sign up" />
  </form>
</div>
